# Terraform
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Variáveis sensíveis
terraform.tfvars
*.tfvars

# Chaves SSH
*.pem
*.key

# Logs
*.log

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db