aws_region = "us-east-1"

project_name = "TechNova"

vpc_cidr = "10.0.0.0/16"

public_subnet_cidr = "10.0.1.0/24"

private_subnet_1_cidr = "10.0.2.0/24"

private_subnet_2_cidr = "10.0.3.0/24"

availability_zone_1 = "us-east-1a"

availability_zone_2 = "us-east-1b"

db_name     = "technova"
db_username = "technova_admin"
db_password = "SUA_SENHA_AQUI"

key_name = "NOME_DO_SEU_KEY_PAIR"